.property-img {
  height: 220px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.hover-card:hover .property-img {
  transform: scale(1.05);
}

.btn-gradient {
  background: linear-gradient(90deg, #0d6efd, #0dcaf0);
  color: white;
  border: none;
  transition: 0.3s;
}

.btn-gradient:hover {
  opacity: 0.9;
}
